<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interactiondesign.arni0010.umu.se.a2dgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alienbeige_badge1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alienbeige_badge1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:parentActivityName=".MainActivity"
                android:name="android.support.PARENT_ACTIVITY"
                android:value="interactiondesign.arni0010.umu.se.a2dgame.MainActivity" />
        </activity>
    </application>

</manifest>